@import url('../../../fonts/static/pretendard.css');
  @media (min-width: 681px) and (max-width: 767px) {
    html {
        font-size: 18px;
    }
  }
  @media (min-width: 581px) and (max-width: 680px) {
    html {
        font-size: 17px;
    }
  }
  @media (min-width: 481px) and (max-width: 580px) {
    html {
        font-size: 16px;
    }
  }
  @media (min-width: 381px) and (max-width: 480px) {
    html {
        font-size: 15px;
    }
  }
  @media (min-width: 320px) and (max-width: 380px) {
    html {
        font-size: 14px;
    }
  }

body {
    /*font-family:'Pretendard-Regular';*/
    --orange-color : #ff6c00;
    --yellow-color : #ffcc00;
    --brown-color : #40220f;
    --pink-color: #ed3d75;
    /* font-size:18px; */
    word-break:break-all;
}

* {box-sizing: border-box;}

a:hover {
    text-decoration: none;
}

.input-inline {
    display: inline-block !important;
}

.cursor-pointer{
    cursor: pointer;
}

@media (min-width: 769px) and (max-width: 1022px) {
    .cursor-pointer{
        background-image: url('../../../images/menu.png');
        background-size: 100% auto;
        background-position: center;
        background-repeat: no-repeat;
        width: 1.96rem;
        height: 1.36rem;
    }
}
body {
    background-color: #ffffff;
}

p, div, span, a, h3, button, input, textarea, th, td {
    /*font-family: "pretendard";*/
    margin-bottom: 0;
}

button:focus, input:focus {
    outline: none !important;
}

p, div, span, a, input, textarea, td {
}

button {
}

h3, th {
}

a {
    text-decoration: none !important;
}

.App {
    width: 100%;
    overflow-x: hidden;
    position: relative;
}

.header {
    display: flex; 
    justify-content: space-between;
    height: 24.4vw;
    padding: 7.78vw 6.1vw 7.78vw 5.6vw;
    width: 100%;
    position: relative;
    z-index: 1;
    background-color: transparent;
}

#mabout {
 position: relative;
 -webkit-background-clip: padding-box;
 -moz-background-clip: padding;
 background-clip: padding-box;
}

#mabout:before{
    content:"";
    position: absolute;
    top:-2px;
    left:0px;
    right:0;
}

.logo {
    max-width: 26.4vw;
    height: auto;
}

.bar {
    width: 7.78vw;
    height: 1.4vw;
    border-radius: 1.4vw;
    margin: 0.83vw 0.56vw 0.83vw 0;
    transition: 0.4s;
    background-color: var(--orange-color);
}

@media (min-width: 769px) and (max-width: 1022px) {
    .logo {
        width: 16.973vw;
        height: 5.677vw;
    }
    .bar {
        opacity: 0;
    }
}

.body-container {
    background-color: var(--yellow-color);
    width: 100%;
    padding-top: 136.1vw;
    margin-top: -84.17vw;
}

.scroll-to-top {
    cursor: pointer;
    display: none;
    right: 3.6vw;
    background-size: 8.3vw 14.72vw;
    background-repeat: no-repeat;
    width: 8.3vw;
    height: 19.4vw;
    z-index: 1000;
    position: fixed;
    bottom: -1.39vw;
    background-image: url("../../../images/components/body/7.png");
}

.scrollToTop {
    margin-top: -5.6vw;
    color: var(--brown-color);
    display: none;
    font-family: Pretendard-Bold;
    font-size: 3.9vw;
}

.scroll-to-top:hover {
    background-image: url("../../../images/components/body/7-1.png");
    animation: none;
    transform: translateY(2.78vw);
    transition: 0.2s linear;
}

.scroll-to-top:hover .scrollToTop {
    display: block;
}

@media (min-width: 769px) and (max-width: 1022px) {
    .scroll-to-top {
        cursor: pointer;
        display: none;
        right: 1.2rem;
        background-size: contain;
        background-repeat: no-repeat;
        width: 3.2rem;
        height: 7.2rem;
        z-index: 1000;
        position: fixed;
        bottom: -0.4rem;
        background-image: url(../../../images/components/body/7.png);
    }

    .scrollToTop {
        margin-top: -2rem;
        color: var(--brown-color);
        display: none;
        font-family: Pretendard-Bold;
        font-size: 1.2rem;
    }
}

.footer {
    display: flex;
    justify-content: space-between;
    margin-top: -1.94vw;
    width: 100%;
    background-color: var(--orange-color);
    padding: 0 6.61vw;
    height: 38.6vw;
}

@media (min-width: 769px) and (max-width: 1022px) {
    .footer {
        margin-top: -0.94vw;
    }
}

.footer-service {
    display: block;
}

.footer-content {
    display: block;
    font-size: 2.2vw;
    margin-bottom: 3.6vw;
}

.footer-service1 {
    display: none;
}

.footer-content1 {
    display: none;
}

.footer-copy {
    display: none;
}

@media (min-width: 769px) and (max-width: 1022px) {
    .footer {
        display: block;
        justify-content: space-between;
        margin-top: -10px;
        height: 50vw;
        width: 100%;
        background-color: var(--orange-color);
        padding: 2rem 3rem;
    }

    .footer-logo {
        width: 34vw;
        height: auto;
    }
    
    .footer-content1 {
        display: block;
        text-align: center;
    }

    .footer-content-p {
        font-size: 1rem;
        opacity: 0.8;
    }
    
    .footer-link-text {
        font-size: 1.2rem;
        margin: 2vw -17vw 8vw 26.5vw;
        opacity: 0.8;
    }
    
    .footer-link-text1 {
        font-size: 1rem;
        margin: 1rem 2rem 5rem 2rem;
        opacity: 0.8;
    }
    
    .footer-web-img {
        width: 50px;
        height: 50px;
    }

    .footer-service {
        display: none;
    }
    
    .footer-content {
        display: none;
    }

    .footer-service1 {
        display: flex;
        justify-content: center;
    }
    
    .footer-copy {
        display: flex;
        margin-bottom: 3rem;
        justify-content: center;
        align-items: center;
    }

    .footer-tangle-logo {
        margin: 0 auto;
        width: 32.308vw;
        height: 10.846vw;
        background-image: url('../../../images/components/body/main/261.png');
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-color: transparent;
        background-position: center;
    }
}

.footer-logo {
    width: 21.7vw;
    height: 7.6vw;
    margin-bottom: 1.39vw;
}

.footer-link-text {
    font-size: 3vw;
}

.footer-web-img {
    width: 13.9vw;
    height: 13.9vw;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: var(--brown-color);
    overflow-x: hidden;
    transition: 0.5s;
}

.carousel-indicators {
    z-index: 0 !important;
    bottom: -25vw;
}

.carousel-item video {
    width: 100%;
    margin-bottom: -1.94vw;
    border-radius: 17.2vw;
}
  
.menu-logo {
    margin-top: 0;
    width: 26.4vw;
    height: auto;
}

.sidenav a {
    padding: 0;
    font-size: 7.2vw;
    margin-bottom: 4.17vw;
    text-decoration: none;
    color: white !important;
    display: block;
    transition: 0.3s;
    font-family: Pretendard;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 7.78vw;
    right: 5.6vw;
    width: 8.3vw;
    height: 8.3vw;
    border-radius: 50%;
    background-color: var(--yellow-color);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.closebtn p {
    font-size: 11.1vw;
    margin-right: 0;
    margin-bottom: 1.7vw;
    font-family: Pretendard-Regular;
    color: var(--orange-color);
}

.sidenav-inner {
    padding: 7.78vw 6.1vw 7.78vw 5.6vw;
}

.sidenav-inner a:nth-child(6) {
    display: none;
}

.breadcrumb {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 0 7.2vw;
    margin-top: 4.4vw;
    margin-bottom: 7.5vw;
}

.breadcrumb i {
    font-size: 4.72vw;
    color: var(--brown-color);
}

.breadcrumb-title {
    color: var(--brown-color);
    font-size: 3.61vw;
    margin-right: 3.33vw;
    font-family: 'Pretendard-Medium';
}

.breadcrumb-subtitle {
    color: var(--orange-color);
    font-size: 3.61vw;
    margin-left: 3.33vw;
}

.subtitle {
    font-size: 8.06vw;
    font-family: Pretendard;
    color: var(--brown-color);
    text-align: center;
}

.arrow-button {
    border-radius: 13.9vw;
    position: relative;
    /*z-index: 1;*/
    background-color: white;
    --round-button-color: var(--orange-color);
}

.arrow-button .hover-effect {
    border-radius: 50%;
    height: 98%;
    width: 98%;
    background-clip: padding-box;
    padding: 0;
    position: absolute;
    margin: 0;
    transform: rotate(45deg);
    top: 1%;
    left: 1%;
    z-index: -1;
    background-color: white;
}

.arrow-button:hover .hover-effect {
    animation: arrow-button-hover 0.5s linear;
    background: linear-gradient(white 0%, var(--round-button-color) 1px);

}

@keyframes arrow-button-hover {
    0% {
        background: linear-gradient(white 100%, var(--round-button-color) 1px);
        transform: rotate(-50deg);
    }

    10% {
        background: linear-gradient(white 90%, var(--round-button-color) 1px);
        transform: rotate(-45deg);
    }

    20% {
        background: linear-gradient(white 80%, var(--round-button-color) 1px);
        transform: rotate(-40deg);
    }

    30% {
        background: linear-gradient(white 70%, var(--round-button-color) 1px);
        transform: rotate(-35deg);
    }

    40% {
        background: linear-gradient(white 60%, var(--round-button-color) 1px);
        transform: rotate(-30deg);
    }

    50% {
        background: linear-gradient(white 50%, var(--round-button-color) 1px);
        transform: rotate(-25deg);
    }

    60% {
        background: linear-gradient(white 40%, var(--round-button-color) 1px);
        transform: rotate(-20deg);
    }

    70% {
        background: linear-gradient(white 30%, var(--round-button-color) 1px);
        transform: rotate(-15deg);
    }

    80% {
        background: linear-gradient(white 20%, var(--round-button-color) 1px);
        transform: rotate(-10deg);
    }

    90% {
        background: linear-gradient(white 10%, var(--round-button-color) 1px);
        transform: rotate(-5deg);
    }

    100% {
        background: linear-gradient(white 0%, var(--round-button-color) 1px);
        transform: rotate(0deg);
    }
}

.footer-select-box {

}

.dropbtn {
    color: white;
    border: none;
    background-color: transparent;
    margin-top: 3.3vw;
    display: flex;
    font-size: 3vw;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 11.1vw;
}

.dropdown-content {
    position: absolute;
    z-index: 1;
}

.dropdown-content a {
    color: white;
    text-decoration: none;
    display: block;
    font-size: 1.9vw;
    padding: 0 2.78vw;
}

@media (min-width: 769px) and (max-width: 1022px) {
    .dropbtn {
        color: white;
        border: none;
        background-color: transparent;
        display: flex;
        font-size: 1rem;
        opacity: 0.9;
    }

    .dropdown {
        position: absolute;
        display: inline-block;
        left: 2.7rem;
    }

    .dropdown-content {
        position: absolute;
        z-index: 1;
    }

    .dropdown-content a {
        color: white;
        text-decoration: none;
        display: block;
        font-size: 0.8rem;
        padding: 0 0.4rem;
    }
}

.faup,.fadown {
    margin-top: 0.8vw;
    margin-left: 1.39vw;
}

.faup {
    display: none;
}

#footer {
    width: 100vw;
    height: 41.7vw;
    position: relative;
    z-index: 0;
    margin-top: -69.4vw;
}

.sidebar-div{
    margin-bottom: 13.3vw;
}

