.App .container-body {
    width: 100vw;
}

.body-container-cooking-left {
    border-right: 2px solid var(--pink-color);
    padding-right: 6.08vw;
}

.body-container-cooking-left-title {
    font-size: 2.45vw;
    margin-bottom: 2.6vw;
    color: var(--brown-color);
    margin-top: -0.9375vw;
    font-family: Pretendard-extrabold;
    padding-left: 0.33vw;
    display: flex;
    justify-content: center;
}

.body-container-top-pane-wave-bulgogi {
    background-image: url("../../images/components/body/bulgogi/wave2.png");
    background-repeat: repeat-x;
    width: 100%;
    height: 8.65vw;
    position: relative;
    background-position-x : 0
}

.body-container-cooking-left-kimchi {
    width: 9.48vw;
    height: 7.92vw;
}

.body-container-cooking-left-kimchi-bowl {
    height: 5.99vw;
}

.body-container-cooking-left-content {
    margin-top: 0.625vw;
    font-size: 1.25vw;
    margin-bottom: 2.6vw;
    color: var(--brown-color);
    font-family: Pretendard-extrabold;
}

.body-container-cooking-right {
    padding-left: 7vw;
}

.body-container-cooking-direction {
    color: #3c2415;
    font-size: 1.51vw;
    line-height: 1.67vw;
    font-family: Pretendard-extraBold;
}

.body-container-cooking-right-step-first {
    margin-bottom: 2.08vw;
}

.body-container-cooking-right-step-first-arrow {
    margin-left: 6.77vw;
    width: 3.2vw;
    height: auto;
}

.body-container-cooking-right-step-second {
    margin-top: -1.5625vw;
}

.body-container-cooking-right-step-third {
    margin-top: -2.08vw;
}

.body-container-cooking-right-step-first-img {
    width: 12.5vw;
    height: 13.3vw;
    margin-right: 2.86vw;
}

.body-container-cooking-right-step-second-img {
    width: 13.23vw;
    height: 11.98vw;
    margin-top: -1.3vw;
}

.body-container-cooking-right-step-third-img {
    width: 14.635vw;
    height: 10.2vw;
    margin-right: 1.04vw;
}

.body-container-cooking-right-step-second-arrow {
    margin-top: 1.04vw;
    margin-right: 2.08vw;
    width: 3.2vw;
    height: auto;
}

.body-container-middle-cooking-tip-title {
    font-family: Pretendard;
    font-size: 2.45vw;
    margin-top: 9.9vw;
    color: var(--brown-color);
    margin-bottom: 2.08vw;
}

.body-container-middle-cooking-tip {
    width: 10.83vw;
    height: 10.83vw;
    background-color: var(--orange-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body-container-middle-cooking-tip-time {
    color: white;
    font-size: 1.5625vw;
    font-family: Pretendard;
}
.body-container-middle-cooking-tip-time sup, sub {
    font-size: 0.9375vw !important;
}

.body-container-middle-cooking-tip-content {
    margin-top: -0.26vw;
    color: #f9ed32;
    font-size: 2.08vw;
    font-family: Pretendard;
}

.body-container-middle-review {
    margin-top: 8.7vw;
    display: flex;
    justify-content: center;
}

.body-container-middle-review-each {
    width: 18.3vw;
    height: 18.3vw;
    background-color: #f9f9f9;
    margin-right: 4.95vw;
    border-radius: 2.6vw;
    box-shadow: 1px 1px 0.26vw lightgrey;
    padding: 2.65vw 1.72vw 0 1.72vw;
}

.body-container-middle-review-text {
    font-size: 1.25vw;
    line-height: 1.46vw;
    margin-top: 1.5625vw;
}

.body-container-middle-review-author {
    font-size: 1.09vw;
    margin-top: 1.5625vw;
}

.body-container-middle-review-img {
    margin-top: -5.04vw;
}

.body-container-footer {
  height: 32.09vw;
  padding-top: 2.6vw;
  position: relative;
  background-color: var(--orange-color);
  z-index: 1;
  position: relative;
}

.body-container-footer p {
    cursor: url("../../images/components/body/cursor-2.png"), auto !important;
}

.body-container-footer #footerFlow {
  position: absolute;
  top: -10.8125vw;
  width: 100vw;
  height: 12.2vw;
}

.body-container-footer div p {
    font-size: 1.15vw;
    font-family: Pretendard-Bold;
}

.body-container-footer-select-box {
    border: none;
    background-color: transparent;
    color: white;
    padding: 3px;
    height: 1.5625vw;
    margin-top: 1.5625vw;
    font-family: Pretendard-Light;
}

.body-container-footer-logo-img {
    margin-bottom: 1.823vw;
}

.body-container-footer-com {
    font-size: 0.729vw !important;
    letter-spacing: 1px ;
    font-family: Pretendard-ExtraLight !important;
}

.body-container-footer-web-img {
    width: 1.77vw;
    height: 1.77vw;
    margin-top: 1.5625vw;
    cursor: url("../../images/components/body/cursor-2.png"), auto !important;
}

.body-container-cooking-bulgogi-left {
    border-right-color: var(--orange-color);
}

.product-slide-img1-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.product-slide-img2-div {
    width: 43.177vw;
}

.product-slide-img1 {
    width: 50vw;
    height:auto;
}

.product-slide-img2 {
    width:100%;
    height:auto;
    border-radius: 2.65625vw;
}

@media screen and (max-width: 1630px) {
    .body-container-cooking-left {
        padding-right: 6.3vw;
    }
    .body-container-cooking-right {
        padding-left: 10.125vw;
    }
    .body-container-cooking-left-title {
        font-size: 2.577vw;
    }

    .body-container-cooking-left-content {
        font-size: 1.1vw;
    }
    .body-container-cooking-direction {
        font-size: 1.355vw;
        line-height: 1.4724vw;
    }
    .body-container-cooking-left-kimchi {
        width: 7.98vw;
        height: 6.66vw;
    }
    .body-container-cooking-right-step-first-img {
        width: 10.48vw;
        height: 11.1vw;
    }
    .body-container-cooking-left-water {
        width: 6.8vw;
        height: 7.89vw;
    }
    .body-container-cooking-left-pot {
        width: 11.28vw;
        height: 5.4vw;
    }
    .body-container-cooking-right-step-second-img {
        width: 11.1vw;
        height: 10vw;
    }
    .body-container-cooking-right-step-third-img {
        width: 12.27vw;
        height: 8.59vw;
    }
    .body-container-middle-cooking-tip-title {
        font-size: 2.577vw;
    }
    .body-container-middle-cooking-tip-content {
        font-size: 2.27vw;
    }
    .body-container-middle-review-each {
        width: 18vw;
        height: 20vw;
        padding: 3.06vw 0.92vw 0 0.92vw;
    }
    .body-container-middle-review-text {
        font-size: 1.1vw;
    }
}

.body-container-middle-pane-img {
    width: 74vw;
    height:auto;
}

@media (min-width: 1023px) and (max-width: 1630px){
    .font-weight-bold {
        font-size: 4.3vw;
    }
}

.review-star {
    width: 8vw;
}

.font-weight-bold {
    font-size: 3.3vw;
    font-family: Pretendard-Bold;
}

.cooking-direction-1 {
    width: 2vw;
    height: 2.08vw;
    margin-bottom: 0.52vw;
}

.cooking-direction-second-div {
    margin-right: 1.3vw;
    padding-left: 2.34vw;
}

.checklist-div {
    width: 15.625vw;
}

.cooking-direction-first-div {
    margin-top: 2.08vw;
}

.one-pot {
    margin-bottom: 0.52vw;
}

.cooking-direction-third-div {
    margin-top: 2.08vw;
}
  
.cooking-top-div {
    margin-right: 6.2vw;
}

.body-container-middle-review-each1 {
    margin-top: 11.98vw;
    animation-delay:0.15s;
}

.body-container-middle-review-each4 {
    margin-right: 0;
    margin-top: 11.98vw;
}

.footer-div {
    margin-bottom: 7.8125vw;
}

.carousel-inner {
    height: 100%;
}

.carousel-item {
    height: 100%;
}

.carousel-indicator {
    margin-right: 0.677vw;
}