.App .container-body {
    min-width: 100vw;
}

.body-container-footer {
  height: 26.09vw;
  padding-top: 2.6vw;
  position: relative;
  background-color: var(--orange-color);
  z-index: 1;
  position: relative;
  margin-top: 10.42vw;
}

.body-container-footer p {
    cursor: url("../../images/components/body/cursor-2.png"), auto !important;
}

.body-container-footer #footerFlow {
  position: absolute;
  top: -12.6vw;
}

.body-container-footer-select-box {
    border: none;
    background-color: transparent;
    color: white;
    padding: 3px;
    height: 1.5625vw;
    margin-top: 1.5625vw;
    font-family: Pretendard-Light;
}

.body-container-footer-logo-img {
    margin-bottom: 1.823vw;    
    cursor: url("../../images/components/body/cursor-2.png"), auto !important;
}

.body-container-footer-com {
    font-size: 0.73vw !important;
    letter-spacing: 1px ;
    font-family: Pretendard-ExtraLight !important;
}

.body-container-footer-web-img {
    width: 1.77vw;
    height: 1.77vw;
    margin-top: 1.5625vw;
    cursor: url("../../images/components/body/cursor-2.png"), auto !important;
}

.event-group {
    width: 67.3vw;
}

.event-group-each {
    width: 31.77vw;
    height: 15.625vw;
    border-radius: 1.5625vw;
    background-color: #e9e9e9;
    float: left;
    margin-bottom: 3.125vw;
    cursor: url("../../images/components/body/cursor-2.png"), auto !important;
}

.event-group-each:nth-child(odd) {
    margin-right: 3.75vw;
}